@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i');

body {
  font-size: 18px;
  font-family: 'lato';
  margin: 0;
  background: #FAFAFA;
}

.containerHeader {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.menu {
  color: #535353;
  font-size: 20px;
  font-weight: 400;
  display: flex;
}

.menuLI {
  font-size: 20px;
  margin-left: 36px;
  margin-right: 36px;
  color: #535353;
}

.menuLI-isactive {
  color: #168B37;
  font-weight: 500;
}

.account {
    text-align: center;
}

.account a {
    font-size: 18px;
    color: #535353;
    vertical-align: -webkit-baseline-middle;
    display: -webkit-box;
}

.logo {
  height:50px;
  width: 50px;
}

.container {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 10px;
    margin-top: 30px;
    background: #fff;
}

.inscriptionPage {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.orgaticTitle {
  color:#535353;
  display: flex;
  justify-content: center;
}

.ticGreen {
    color: #4d8c39;
}

.index-sideText {
    text-align: center;
}

.mainParagraph {
  margin: 50px 0;
  font-size: 20px;
  font-weight: 300;}

.connexion {
  margin-left: 100px;
  width: 380px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.connexionTitle {
    color: #45a065;
    font-size: 35px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

form {
    display: inline-block;
    margin: auto;
    width: 80%;
}

.button {
  background-color: #949494;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: auto;
    width: 100%;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 30px;
    width: 93%;
    border: none;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    outline: none;
}

.classes {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
}

.classes ul li {
    display: inline-block;
    margin: 30px 0 30px 30px;
    font-size: 21px;
    font-weight: 500;
}

.classes ul li.active {
    font-weight: bold;
}

.classes ul li a {
    color:#168B37;
}

.ContainerTheme {
  position: absolute;
  margin-top: 180px;
  margin-left: 20px;
}

.ContainerTheme a {
  color: #168B37;
}

.Devoirs {
  font-size:20px;
  color: #555555;
  font-weight: 300;
  margin-bottom: 45px;
}

.reseaux {
  font-size: 22px;
  margin-bottom: 45px;
  font-weight: 500;
  color: #168B37;
}

.Evenements {
  font-size: 20px;
  font-weight: 300;
  color: #555555;
}

.RectangleCommentaire {
  margin-left: 268px;
  background-color: #F9FAFB;
  width:910px;
  margin-bottom: 30px;
  display: inline-block;
}

.hearth {
    float: right;
    margin: 20px;
    width: 16px;
    height: 16px;
}

.Name {
  color: #535353;
  font-size: 20px;
  margin-bottom: 40px;
  margin-left: 60px;
}

.Commentaires1 {
  color: #535353;
  font-weight: lighter;
  font-size: 18px;
  margin-left: 60px;
}

.Commentaires2 {
  color: #535353;
  font-weight: 300;
  font-size: 18px;
  margin-left: 60px;
}

.Commentaires3 {
  color: #535353;
  font-weight: 300;
  font-size: 18px;
  margin-left: 60px;
}

.msg {
    width: 65%;
    text-align: center;
    display: block;
    line-height: 1.5em;
}

.msg.error {
    color: #da3c3c;
}

@media(max-width: 1530px){
    .containerHeader {
        display: block;
    }
    
    .menu {
        width: fit-content;
        margin: auto;
        padding: 0;
    }
    
    .account {
        margin-top: 25px;
        width: fit-content;
        float: right;
    }
}